// fonts
@font-face {
    font-family: "light";
    src: url(../resources/fonts/Montserrat-Light.ttf);
}

@font-face {
    font-family: "Regular";
    src: url(../resources/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "bold";
    src: url(../resources/fonts/Montserrat-Bold.ttf);
}

// color palettes
$primary: #3D44FF;
$bg-col: #1D3557;
$font-col: #EDEFFF;
$darken: #14213D;
$text-area-col: #26497B;
$text-area-bg: #1A2A4E;


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $bg-col;
}

::selection {
    background-color: $primary;
    color: $font-col;
}

#wrap {
    max-width: 100%;
    width: 1150px;
    margin: 0 auto;
}

.bg-blur {
    filter: blur(20px);
    transition: all 0.6s ease-in-out;
}

/* Custom Loader */

.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $darken;
    z-index: 999999;
}

.spinner {
    position: absolute;
    top: 48%;
    left: 48%;
    width: 70px;
    text-align: center;
}

.spinner>div {
    width: 18px;
    height: 18px;
    background-color: $font-col;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {

    0%,
    80%,
    100% {
        -webkit-transform: scale(0)
    }

    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {

    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

//   Navigation bar
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: $bg-col;
}

.logo {
    color: $font-col;
    text-transform: uppercase;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: $font-col;
    letter-spacing: 3px;
    font-size: 14px;
}

.menu {
    display: none;
    cursor: pointer;
}

.menu div {
    width: 30px;
    height: 3px;
    background-color: $font-col;
    margin: 5px;
    transition: all 0.6s ease-in-out;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: $bg-col;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transition: transform 350ms ease-in-out;
        transform: translateX(100%);
    }

    .nav-links li {
        opacity: 0;
    }

    .menu {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }

}

.toggle .line-1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line-2 {
    opacity: 0;
}

.toggle .line-3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

// Wrapper for all
#wrapper {
    max-width: 100%;
    width: 1150px;
    margin: 0 auto;
}

// home-section
.home-section {
    margin-top: 6em;
}

.home-header {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    padding: 0em;
}

.header-img {
    padding: 2em;
}

.square {
    width: 120px;
    height: 120px;
    border: 5px solid $font-col;
    margin: -60px -20px;
}

.home-img-1 {
    width: 280px;
    height: 380px;
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: center;
    margin: -12px 20px;
}

.home-img-2 {
    width: 200px;
    height: 160px;
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: cover;
    margin: -4em -8em;
}

.matter {
    margin-left: 15em;
    width: 40em;
}

.matter .text {
    font-family: "bold";
    color: $font-col;
    font-size: 3.4rem;
}

.btn {
    display: flex;
    margin: 3em 0em 0em 0em;
    font-family: "Regular";
}

.btn .project-btn {
    padding: 0.6em 2.4em 0.6em 2.4em;
    border: 2px solid $primary;
    margin-right: 2em;
}

.fourth {
    background-image: linear-gradient(45deg, $primary 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: 600ms ease-in-out;
}

.fourth:hover {
    background-position: 0;
}

.project-btn a {
    color: $font-col;
    text-decoration: none;
    font-size: 18px;
}

.btn .contact-btn {
    padding: 0.6em 2.4em 0.6em 2.4em;
    background-color: $primary;
}

.contact-btn a {
    color: $font-col;
    text-decoration: none;
    font-size: 18px;
}
.service-section {
    margin-top: 15em;
    align-items: center;
    text-align: center;
}

.title {
    font-family: "bold";
    font-size: 2.5em;
    color: $font-col;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 4em;
    align-items: center;
    text-align: center;
}

.flex-items {
    margin: 3em;
    width: 160px;
    height: 340px;
    padding: 1.5em 3em;
    color: $font-col;
    //border-radius: 5px;
    font-size: 18px;
    font-family: "regular";
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: 300ms;
}

.class-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)), url(../resources/images/ahmad-nadzimuddin-mdgljJgqSEg-unsplash.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.class-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)), url(../resources/images/francesco-ungaro-hqAGgNsMpEY-unsplash.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.class-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)), url(../resources/images/screen-post-BqN2QFHHD3o-unsplash.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.class-4 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)), url(../resources/images/pexels-oliver-sjöström-1074505.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.class-5 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)), url(../resources/images/pexels-guilherme-rossi-1755683.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.class-6 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)), url(../resources/images/pexels-mathias-pr-reding-4394232.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.class-7 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)), url(../resources/images/pexels-henda-watani-320014.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 1150px) {

    .home-header {
        display: block;
        width: 100%;
        margin: 10em auto;
        align-items: center;
        text-align: center;
    }

    .header-img {
        padding: 0em 8em;
        margin: 0 auto;
    }

    .square {
        margin: -4em auto;
    }

    .home-img-1 {
        margin: 0 auto;
        display: block;
        align-items: center;
        justify-content: center;
    }

    .matter {
        margin: 8em auto;
        align-items: center;
        max-width: 100%;
        width: 50em;
    }

    .matter .text {
        font-size: 3em;
    }

    .matter .btn {
        display: flex;
        justify-content: space-evenly;
    }

    .btn .project-btn {
        margin-right: 0em;
    }
}

@media only screen and (max-width: 600px) {}